.conversorContainer {
    height: 100%;
}

.titleContainer {
    width: fit-content;
    margin:0 auto;
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    width: fit-content;
    margin: 2em 0 0 0;
    font-size: calc(2.5vw + 0.5em);
    text-align: center;
    transition: 500ms;
}

.form {
    width: 100%;
    height: 50%;
    margin: 2em auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c3cace;
    bottom: 0;
    position: absolute;
    transition: 500ms;
}

.inputValue {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

.buttons button {
    width: 20vw;
    min-width: fit-content;
    padding: 0.5em;
    margin: 0.5em;
    font-size: calc( 1vw + 0.5em);
    font-family: Poppins;
    border-radius: 0.5em;
    border: none;
    background: linear-gradient(140deg, #e5dfd8 0.1em, #f4f3ef);
    box-shadow: 10px 10px 20px #00000036;
    transition: 500ms;
}

.buttons button:hover {
    background: linear-gradient(140deg, #ebd6bf 0.1em, #f5eed2);
}

input {
    border: 1px solid rgb(170, 170, 170);
    border-radius: 0.3em;
    padding: 0.5em;
    font-size: calc(1vw + 0.5em);
    font-family: Poppins;
    transition: 500ms;
}

.result {
    width: 30%;
    margin: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result input {
    text-align: center;
    background-color: #eeeeee;
}

.result input:hover {
    cursor: not-allowed;
}

input:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
}

@media (max-width: 850px) {

    .form {
        flex-direction: column;
        padding: 3em 0 0 0;
        height: 60%;
    }

    .buttons {
        margin: 1em;
    }

}

@media (max-width: 650px) {

    .title {
        width: 100%;
        font-size: calc(2vw + 1em);
    }

    input {
        font-size: calc(3vw + 0.2em);
    }

    .buttons button {
        width: 10em;
        font-size: calc(2vw + 0.5em);
    }
}