form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
}

input {
    border: 1px solid rgb(170, 170, 170);
    border-radius: 2px;
    margin: 1.5em;
}

input:focus {
    outline: none;
}

.conversorContainer {
    height: 86vh;
}

.titleContainer {
    width: fit-content;
    margin:0 auto;
    padding-top: 7em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    width: fit-content;
    margin: 0;
    font-size: 3em;
    text-align: center;
}

.ifError {
    text-align: center;
    color: red;
}

.result {
    margin: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result input {
    text-align: center;
    height: 2em;
    border: 1px solid rgb(133, 133, 133);
    background-color: #fff;
}

